<div class="login-container">
  <mat-card class="login-card">
    <mat-card-header class="text-center">
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="login-form" [formGroup]="loginForm">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Enter your email" required formControlName="email">
          <mat-icon matSuffix>email</mat-icon>
          @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
            <mat-error>{{ loginForm.get('email')?.errors?.['required'] ? 'Email is required' : 'Invalid email format' }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Password</mat-label>
          <input matInput type="password" placeholder="Enter your password" required formControlName="password">
          <mat-icon matSuffix>lock</mat-icon>
          @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
            <mat-error>{{ loginForm.get('password')?.errors?.['required'] ? 'Password is required' : 'Password must be at least 6 characters' }}</mat-error>
          } @else if (loginForm.get('password')?.errors?.['minlength']) {
            <mat-error>Password must be at least 6 characters</mat-error>
          }
        </mat-form-field>

        <mat-checkbox class="remember-me" formControlName="rememberMe">Remember Me</mat-checkbox>

        <button mat-raised-button color="primary" class="full-width login-button" (click)="login()">Log In</button>
      </form>
    </mat-card-content>
    <mat-card-actions class="text-center">
      <a mat-button color="accent" routerLink="/forgot-password">Forgot Password?</a>
      <a mat-button routerLink="/register">Don't have an account? Register</a>
    </mat-card-actions>
  </mat-card>
</div>