<!-- 
<app-comp-1></app-comp-1>

<app-comp-2></app-comp-2>

<app-comp-3></app-comp-3>

<app-comp-4></app-comp-4> -->

<!-- @defer(on idle){ -->
<!-- @defer (on timer(3s)) { -->
 <!-- @defer(on interaction){ -->
  <!-- @defer(on hover){ -->
  <!-- @defer(when isVisible; on timer(5s)){
  <app-comp-5></app-comp-5>
} @placeholder {
  <div>Placeholder component...</div>
}
@loading {
  <div>Loading component</div>
}
@error {
  <div>Error component</div>
}

<button matButton="filled" (click)="isVisible= !isVisible"> show component 5</button>  -->
<!-- <app-counter></app-counter> -->

<router-outlet></router-outlet>